* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(245, 149, 5), rgb(243, 240, 243), rgb(28, 209, 11));
}

.box {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.number{
    font-size: 50px;
    font-weight: 900;
    color: black;
}

.increase-buttons {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.decrease-buttons {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.reset-button {
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .box {
        height: 80%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .box {
        height: 60%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
}